<h3>CHA EDIT</h3>
<form action="/edit-cha" method="POST">
     <input type="hidden" name="IDCha" value="<%=ds._id%>" />
     <input type="text" placeholder="Title Cha" name="txtChaTitle" value="<%=ds.Title%>" />
     <input type="submit" value="edit cha" />
</form>